/*css reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: "Open sans", sans-serif;
}
nav{
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

.right-nav{
	padding-left: 30rem;
	margin-left: 20rem;
}
.nav{
	display: inline;
	margin: 0.5rem;
	
}

.tuitt-button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	font-size: 1rem;
	padding: 1rem;
	border-radius: 25px;
}

#bg-image{
	min-height: 90vh;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center-top;
	background-attachment: scroll;
}

 }
.front-bg{
	background-color: rgba(0, 0, 0, 1.0);
	min-height: 90vh;
	opacity: 1;
}
.title{
	font-family: "zilla slab";
	font-size: 3em;
	text-align: right;
	padding-right: 10rem;
	color: black;
	text-align: right;
}

.subtitle{
	text-align: right;
	padding-right: 10rem;
	color: black;
	text-align: right;
}

.intro h2{
	font-family: "zilla slab";
	font-size: 3em;
}
.apply-button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	font-size: 1rem;
	padding: 1rem;
	border-radius: 25px;
	margin-left: 80rem;
	margin-top: 2rem;
}
.intro h2{
	text-align: center;
	padding: 4rem;
}
.intro-description{
	text-align: justify;
	padding-left: 10rem;
	padding-right: 10rem;
	padding-bottom: 4rem;
}
.pre-footer{
	background-color: lightskyblue;
}
.pre-footer h2{
	text-align: center;
	padding: 2rem;
}
.prefooter-description{
	text-align: justify;
	padding-left: 10rem;
	padding-right: 10rem;
	padding-bottom: 2rem;
}
.book-button{
	color: white;
	font-weight: bold;
	background-color: blue;
	font-size: 1rem;
	padding: 1rem;
	border-radius: 25px;
	margin-left: 45rem;
	margin-bottom: 2rem;
}
footer{
	display: inline;
	padding-left: 20rem;
	margin-left: 15rem;
	margin-top: 4rem;
	padding-top: 4rem;
}